.card{
    background-color:whitesmoke;
    border: solid 1px rgb(201, 201, 201);
    border-radius: 8px;
    color:black;
    padding: 10px;
    width:60%;
    margin:15px;
    box-shadow:1px 1px 1px 1px#888888;
}

.header-content{
    display: flex;
    margin: 5px 0;
}

.card:hover{
    transform: scale(1.010);
}

.title{
    width:90%;
}
.date{
    width:10%;
}