.paginator_box{
    width:50%;
    padding:5px;
    margin: 0 auto;
    margin-top:10px;
}
.item_paginator{
    justify-content: space-between;
    display: flex;
}

.bt-action{
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(67, 67, 255);
    color:white;
    font-size:12px;
    font-weight: bold;
    border:none;
    letter-spacing: 2px;
}

.bt-action:hover{
    background-color: rgb(44, 44, 223);
    cursor: pointer;
}