.modal-form{
    margin:15px;
    padding: 10px;
}

.form-task{
    margin: 10px 0;
}

.form-fields{
    margin-bottom:15px;
}

.input{
    border-radius: 8px;
    padding:5px;
}

.area-text{
    width:100%;
    height:150px;
    resize:none;
}

.simple-text{
    width:100%;
}

.line{
    display:flex;
    width:100%;
    gap:10px;
}

.form-title{
    width:100%;
}

.form-label{
    font-size:14px;
    font-weight:bold;
}

.form-actions{
    display:flex;
    gap:10px;
    justify-content: flex-end;
    bottom:50px;
    right:25px;
    position:absolute;
    margin-top: 15px;
}

.button-action{
    padding:10px 20px;
    border-radius: 8px;
    cursor:pointer;
    border:none;
}

.b-danger{
    background-color: red;
    color: white;
}

.b-success{
    background-color: green;
    color: white;
}

.b-warning{
    background-color: orange;
    color: white;
}

.b-info{
    background-color: blue;
    color: white;
}

.b-secondary{
    background-color: gray;
    color: white;
}