<div class="modal-form">
  <h2 mat-dialog-title>Adicionar Tarefa</h2>
  <mat-divider></mat-divider>
  <div mat-dialog-content class="form-task">
    <form>
      <div>
        <label>
          Nome:
          <input type="text" placeholder="Título da Tarefa" >
        </label>
        <label for="date">
          Data:
          <input type="date" id="date" placeholder="Data de elaboração" >
        </label>
      </div>
      <label>
        
      </label>
    </form>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Fechar</button>
    <button mat-button (click)="confirm()">Confirmar</button>
  </div>
</div>

