.container{
    max-width:1200px;
    margin:0 auto;
    padding:20px;
}
.task-item-list{
    display:flex;
    width:100%;
    gap:10px;
}
.task-list{
    margin:10px auto;
    width:100%;
}

.card-task{
    padding:10px;
}

.data-tasks{
    width:80%;
}
.action-tasks{
    width:20%;
}

.bt-new-task{
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(67, 67, 255);
    color:white;
    font-size:16px;
    font-weight: bold;
    border:none;
    letter-spacing: 2px;
}

.bt-new-task:hover{
    background-color: rgb(44, 44, 223);
    cursor: pointer;
}

.painel{
    height:100%;
}