.input-field{
    border: 1px solid black;
    border-radius:8px;
    color:gray;
    width:100%;
}

.input-field:hover{
    cursor:pointer;
}

.input-list-content{
    margin-left: 30px;
    width:100px;
    background-color:rgb(190, 189, 189);
    padding:10px;
}

.input-value{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    color: black;
}

.custom-dialog-container{
    margin: 10px 0;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px #888888;
    margin-left: 30px;
}