<app-header></app-header>
<nav></nav>
<section class="container">
  @for (item of tasks; track $index) {
    <div class="card flex justify-content-center task-list">
      <p-card [style]="{padding:'10px'}"  header={{item.name}} >
        <div class="data-tasks">
          <p class="m-0">
            {{item.description}}
          </p>
          <p>
            {{item.status ? 'Concluída' : 'Não concluída'}}
          </p>
        </div>
        <div class="card flex justify-content-center">
          <p-toast />
          <p-splitButton 
              label="Save" 
              (onClick)="save('info')" 
              [model]="items" />
        </div>
          
      </p-card>
  </div>
  <p-divider />
  }
</section>
<footer>

</footer>