.city-multi-select {
  width: 100%;
  height: 62px;
  position: relative;
  display: flex;
  align-items: center;
  margin:10px;

  mat-select {
    width: 100%;
    height:40px;
    position: absolute;
    top: 0;
    left: 0;
    padding:8px;
    border:solid 1px black;
    border-radius:4px;
  }

  .overlay-chips {
    position: absolute; // sobrepõe o mat-select
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    pointer-events: none; // impede que os chips bloqueiem cliques no select
  }

  &.disabled {
    opacity: 0.7;
  }
}
